* {
    font-family: 'Encode Sans', sans-serif;


}

@tailwind base;
@tailwind components;
@tailwind utilities;



.drawer-side a.active {
    color: white;
}
.drawer-side a {
    background-color: transparent;
}